body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #7e3c73;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.Calculator{
    background: rgb(126, 86, 163);
    padding: 70px;
    border: radius 10px;
    width: 300px;
}

#display{
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: right;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.buttons{
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

.operator{
    background: #705d1c;
    color: rgb(21, 119, 199);
}

.equal{
    background: #380d11;
    color: rgb(7, 34, 36);
}

.clear{
    background: #da0cb7;
    color: rgb(216, 14, 14);
}

